@import "~/.config/rofi/theme.rasi"

configuration {
  drun-display-format: "{name}";
  display-drun: "󰍉";
  show-icons: true;
  disable-history: false;
  click-to-exit: true;
}

* {
  background-color: transparent;
  text-color: @fg;
  font: "GeistMono Nerd Font Medium 11";
  spacing: 0;
}

window {
  background-color: @bg-alt;
  border: 1px solid;
  border-color: @border;
  border-radius: 12px;
  padding: 0;
  width: 560px;
  location: center;
  anchor: center;
  y-offset: 0;
  x-offset: 0;
}

mainbox {
  padding: 8px;
  spacing: 6px;
  border: 0;
}

inputbar {
  padding: 8px 12px;
  spacing: 10px;
  background-color: @bg;
  border: 1px solid;
  border-color: @input-border;
  border-radius: 12px;
  margin: 0;
  children: [ prompt, entry ];
}

prompt {
  enabled: true;
  text-color: @accent;
  font: "GeistMono Nerd Font 13";
  vertical-align: 0.5;
}

entry {
  text-color: @fg;
  placeholder-color: @muted;
  placeholder: "Search apps...";
  vertical-align: 0.5;
}

case-indicator {
  enabled: false;
}

listview {
  padding: 2px;
  spacing: 6px;
  lines: 6;
  fixed-height: true;
  scrollbar: false;
  border: 0;
  dynamic: false;
}

element {
  padding: 7px 12px;
  spacing: 10px;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  text-color: @fg;
  orientation: horizontal;
}

element normal.normal,
element alternate.normal {
  background-color: transparent;
  text-color: @fg;
}

element selected.normal {
  background-color: @bg-selected;
  text-color: #ffffff;
  border: 1px solid;
  border-color: @sel-border;
}

element selected.urgent {
  background-color: @urgent;
  text-color: #161616;
}

element selected.active {
  background-color: @accent;
  text-color: #161616;
}

element-text {
  background-color: transparent;
  text-color: inherit;
  vertical-align: 0.5;
  horizontal-align: 0;
  highlight: inherit;
}

element-icon {
  background-color: transparent;
  size: 1.4em;
  text-color: inherit;
  vertical-align: 0.5;
}

message {
  padding: 8px 12px;
  background-color: @bg;
  text-color: @fg;
  border: 1px solid;
  border-color: @border;
  margin: 0;
  border-radius: 10px;
}

textbox {
  text-color: inherit;
  background-color: transparent;
}

scrollbar { enabled: false; }
sidebar { enabled: false; }
button { enabled: false; }
mode-switcher { enabled: false; }
