* {
  bg:           #343F44;
  fg:           #D3C6AA;
  bg-selected:  #3D484D;
  bg-alt:       #232A2E;
  border:       #475258;
  prompt:       #A7C080;
  info:         #859289;
  highlight:    #E69875;
  marker:       #7FBBB3;
}
