* {
    font-family: "GeistMono Nerd Font", monospace;
    font-size: 13px;

    font-feature-settings: "ss09";
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #d3c6aa;
}

window#waybar > box {
    padding: 0 4px;
}

#workspaces {
    background: #2D353B;
    border-radius: 17px;
    padding: 0 6px;
    margin: 4px 4px;
}

#workspaces button {
    padding: 0 7px;
    margin: 0;
    color: #d3c6aa;
    background: transparent;
    min-width: 0;
    border: none;
    box-shadow: none;
    font-weight: 500;
}

#workspaces button.empty {
    color: #7a8478;
}

#workspaces button.active {
    background: transparent;
    color: #d3c6aa;
    font-weight: 500;
    font-size: 15px;
}

#workspaces button.urgent {
    background: transparent;
    color: #e67e80;
    font-weight: 500;
}

#workspaces button:hover {
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: #d3c6aa;
}

#clock {
    background: #2D353B;
    border-radius: 17px;
    padding: 0 18px;
    margin: 4px 4px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-feature-settings: "ss09";
}

#pulseaudio,
#cpu,
#memory,
#network {
    background: #2D353B;
    padding: 0 13px;
    margin: 4px 0;
    color: #d3c6aa;
    font-weight: 500;

    min-width: 46px;
    font-feature-settings: "ss09";
}

#pulseaudio {
    border-radius: 17px 0 0 17px;
    margin-left: 4px;
    padding-left: 16px;
}

#network {
    border-radius: 0 17px 17px 0;
    margin-right: 4px;
    padding-right: 16px;
}

#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#network:hover {
    background: #343f44;
}

#pulseaudio.muted {
    color: #7a8478;
}

#cpu.warning,
#memory.warning {
    color: #e0b074;
}

#cpu.critical,
#memory.critical {
    color: #e67e80;
}

#network.disconnected {
    color: #e67e80;
}

tooltip {
    background: #2D353B;
    border: 1px solid #343f44;
    border-radius: 10px;
    padding: 6px 10px;
}

tooltip label {
    color: #d3c6aa;
}

#clock + tooltip label,
tooltip label {
    font-family: "CommitMono20", monospace;
    font-size: 14px;
}
