* {
  bg:           #31353F;
  fg:           #ABB2BF;
  bg-selected:  #393F4A;
  bg-alt:       #21252B;
  border:       #3B3F4C;
  prompt:       #61AFEF;
  info:         #5C6370;
  highlight:    #D19A66;
  marker:       #C678DD;
}
