* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background-color: #1a1d23; /* 121212 */
    color: #e0def4;
    font-family: "Inter", "CaskaydiaMono Nerd Font", monospace;
    font-size: 15px;
}

#workspaces {
    background-color: transparent;
    margin-left: 4px;
}

#workspaces button {
    padding: 0 6px;
    color: #6e6a86;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: #e0def4;
    font-size: 19px;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    color: #c4a7e7;
}

#clock {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #e0def4;
    margin-top: 0px;
    margin-bottom: 0px;
}

.modules-right {
    margin-right: 4px;
}

#cpu,
#memory,
#network,
#pulseaudio {
    padding: 0 6px;
    border-radius: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 6px;
}

#pulseaudio.muted {
    color: #908caa;
}

#network.disconnected {
    color: #eb6f92;
}

tooltip {
    background: #1f1d2e;
    border: 1px solid #26233a;
    border-radius: 4px;
}

tooltip label {
    color: #e0def4;
}
