* {
  bg:           #2A2A37;
  fg:           #DCD7BA;
  bg-selected:  #2D4F67;
  bg-alt:       #16161D;
  border:       #54546D;
  prompt:       #7E9CD8;
  info:         #727169;
  highlight:    #FFA066;
  marker:       #957FB8;
}
