* {
  bg:           #1E2124;
  fg:           #DCE5E5;
  bg-selected:  #33383D;
  bg-alt:       #181A1C;
  border:       #282B2F;
  prompt:       #A1DEEA;
  info:         #789AA1;
  highlight:    #ECA25C;
  marker:       #5AA6E6;
}
