* {
  bg:           #292E42;
  fg:           #C0CAF5;
  bg-selected:  #283457;
  bg-alt:       #16161E;
  border:       #292E42;
  prompt:       #7AA2F7;
  info:         #545C7E;
  highlight:    #FF9E64;
  marker:       #BB9AF7;
}
