* {
  bg:           #1F2225;
  fg:           #E9F2F2;
  bg-selected:  #33383C;
  bg-alt:       #181A1C;
  border:       #272C2F;
  prompt:       #A5E9F5;
  info:         #879297;
  highlight:    #D9CC58;
  marker:       #D78CF0;
}
