* {
  bg:           #313244;
  fg:           #CDD6F4;
  bg-selected:  #313244;
  bg-alt:       #181825;
  border:       #45475A;
  prompt:       #CBA6F7;
  info:         #A6ADC8;
  highlight:    #FAB387;
  marker:       #89B4FA;
}
