* {
  bg:           #1F2225;
  fg:           #E9F2F2;
  bg-selected:  #33383C;
  bg-alt:       #181A1C;
  border:       #272C2F;
  prompt:       #AEE6F0;
  info:         #859296;
  highlight:    #EBC56C;
  marker:       #C1A9E8;
}
