[user]
	name = Nahuel Navales
	email = navalesnahuel@gmail.com
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = master

[include]
    path = ~/.config/colors/current/delta.gitconfig

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  
    dark = true      

[merge]
    conflictStyle = zdiff3
